body {
  padding: 0;
  margin: 0;
  height: 300px;
  width: 400px;
}

.popup div {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin: 0px;
  outline: none;
  overflow: auto;
}

.popup {
  background-color: #f7f7f7;
}

.header {
  width: 100%;
  height: 30px;
  background-color: rgba(10, 193, 141, 0.5);
}

.header .nav {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

.header .title {
  display: inline-block;
  width: 310px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .title .text {
  margin-left: 1em;
  line-height: 30px;
}

.usage {
  width: 100%;
  height: 240px;
}

.contribute {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.button {
  display: inline-block;
}

.nav .button {
  width: 100%;
}

.nav .button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}

.usage .line {
  display: flex;
  width: 100%;
  height: 44px;
  margin: 4px 0px;
}

.usage .line .left .icon {
  margin: 4px;
}

.usage .line .left {
  flex: 46px;
}

.usage .line .right {
  flex: 100%;
}

.usage .line .right .top {
  display: block;
  height: 22px;
}

.usage .line .right .bottom {
  display: block;
  height: 22px;
}

.usage .title {
  font-weight: bold;
}

.usage .time {
  float: right;
  margin-right: 4px;
}

.usage .actions {
  float: right;
  margin-right: 4px;
  display: none;
}

.usage .line.active .actions {
  display: block;
}

.usage .actions .button {
  padding: 2px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.usage .actions .button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}
