html, body {
  padding: 0px;
  margin: 0px;
  background-color: #f7f7f7;
}

.header {
  width: 100%;
  height: 30px;
  background-color: rgba(10, 193, 141, 0.5);
}

.header .nav {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

.header .title {
  display: inline-block;
  width: 310px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .title .text {
  margin-left: 1em;
  line-height: 30px;
}

.button {
  display: inline-block;
}

.nav .button {
  width: 100%;
}

.nav .button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}

.usage .line {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 4px 0px;
}

.usage .line .left {
  flex: 0 0 44px;
}

.usage .line .right {
  width: 1%;
  flex-grow: 1;
}

.usage .line .left .icon {
  margin: 4px;
}
.usage .line .right .top {
  display: flex;
  width: 100%;
  height: 22px;
}

.usage .line .right .bottom {
  display: flex;
  height: 22px;
}

.usage .title {
  flex: 100%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.usage .details {
  flex: none;
  margin-right: 4px;
  white-space: nowrap;
}

.usage .url {
  flex: 100%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.usage .actions {
  flex: none;
  margin-right: 4px;
  display: none;
}

.usage .line:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.usage .line:hover .actions {
  display: block;
}

.usage .actions .button {
  padding: 2px 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.usage .actions .button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}

.popup {
  height: 300px;
  width: 400px;
}

.popup div {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  margin: 0px;
  outline: none;
  overflow: auto;
}

.popup .usage {
  width: 100%;
  height: 240px;
}

.popup .contribute {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.popup .contribute button {
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.popup .contribute button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}

.options {
  width: 66%;
  margin-left: 17%;
  margin-top: 40px;
}

.options .header {
  width: auto;
}

.options h1 {
  padding: 14px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.options .group {
  padding: 14px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.options .group:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.options .description {
  margin-top: -0.83em;
  color: rgba(0, 0, 0, 0.75);
}

.options label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-right: 4px;
}

.options .exclusions ul {  
  margin: 0px;
  padding-inline-start: 0px;
  list-style: none;
}

.options .exclusions ul li {  
  padding: 4px 4px 4px 0px;
}

.options .exclusions ul li img {  
  padding-right: 4px;
}

.options .exclusions ul li .actions a {  
  border: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 10px;
}

.options .exclusions ul li:not(:hover) .actions {  
  display: none;
}

.options .exclusions ul li:hover {  
  background-color: rgba(0, 0, 0, 0.05);
}

.options .exclusions ul li .actions a:hover {  
  background-color: rgba(10, 193, 141, 0.5);
}

.contribute {
  width: 66%;
  margin-left: 17%;
  margin-top: 40px;
}

.contribute .header {
  width: auto;
}

.contribute .body {
  padding-top: 4px;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contribute h1 {
  padding: 14px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.contribute .payment {
  padding: 10px 0px;
  display: flex;
  align-items: flex-end;
}

.contribute .usage {
  padding: 0px 6px 6px 6px;
}

.contribute .body .empty {
  padding: 0px 10px 10px 10px;
  font-style: italic;
}

.contribute .payment fieldset {
  flex: 1 0 auto;
  border: none;
  margin: 0px;
  padding: 0px 10px 10px 10px;
}

.contribute .payment .actions {
  flex: 0 0 auto;
  padding: 0px 10px 10px 0px;
}

.contribute .payment legend {
  font-weight: bold;
}

.contribute .payment button {
  min-width: 60px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contribute .payment button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}

.contribute .payment button:not(:last-child) {
  margin-right: 10px;
}

.contribute .payment input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  padding: 0px 10px;
  width: 60px;
}

.contribute .payment .actions button {
  background-color: rgba(10, 193, 141, 0.5);
}

.contribute .payment .actions button:not(:disabled):hover {
  color: white;
  background-color: rgb(5, 109, 80);
}

.contribute .paymodal {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.contribute .paybox {
  width: 400px;
  background-color: #f7f7f7;
  padding: 10px;
  align-self: center;
  margin-top: 50px;
}

.contribute .paytitle {
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -10px;
  padding: 10px;
  background-color: rgba(10, 193, 141, 0.5);
  font-weight: bold;
  text-align: center;
}

.contribute .paytext {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contribute .qrcontainer {
  text-align: center;
  position: relative;
}

.contribute .qrcontainer .qrcode img {
  animation-name: qrcodeborder;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes qrcodeborder {
  0% { box-shadow: 0px 0px 0px rgb(10, 193, 141); }
  50% { box-shadow: 0px 0px 5px rgb(10, 193, 141); }
}

.contribute .qrmessage {
  position: absolute;
  top: 125px;
  left: 100px;
  padding: 20px 0px;
  width: 200px;
  background-color: rgb(10, 193, 141);
  color: white;
  font-weight: bold;
}

.contribute .qrcopy {
  position: absolute;
  top: 6px;
  right: 78px;
}

.contribute .qrcopy input[name="qrcopyinput"] {
  width: 0px;
  color: white;
  border: white;
  cursor: default;
}

.contribute .qrcopy button {
  border: none;
  background-color: transparent;
}

.contribute .qrcopy button:hover {
  cursor: pointer;
  background-color: rgba(10, 193, 141, 0.5);
}

.contribute .payinfo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
